# Mini Project - Data Cleaning

I came acorss an interesting data set and it was a mini data cleaning challenge. The data set shows the common problems we see in real-life data, and the purpose of this challange is to list all the issues and clean the way towards a more structed DataFrame. Also worth to mentioned these are the possible questions we will come acorss in a Data Science technical interview!

**Let's get this started!**

In [59]:
# import library
import numpy as np
import pandas as pd

In [62]:
# import dataset
df = pd.read_csv('/Users/queeniehu/anaconda3/Training/Projects/data_cleaning/data/TheFruit_sales.csv')
df

,Unnamed: 0,Sales_ID,Sales_Branch,Product_Description,Recent_Sales_Date,Customer_Count
0,0,AU_1382578 !,NaN,"The Fruit, a company that sells fruits from al...",2019/12/31 GMT+8 18:00,10
1,1,TW_8312566 !,NaN,"The Fruit, a company that sells fruits from al...",2019/12/31 GMT+8 18:00,27
2,2,US_2289987 !,NaN,"The Fruit, a company that sells fruits from al...",2019/12/29 GMT+8 18:00,12
3,3,UK_1382574 !,NaN,"The Fruit, a company that sells fruits from al...",2019/12/15 GMT+8 05:00,1
4,4,TW_1382578 !,NaN,"The Fruit, a company that sells fruits from al...",2019/12/29 GMT+8 05:00,5
5,5,AU_1335358 !,NaN,"The Fruit, a company that sells fruits from al...",2019/12/31 GMT+8 05:00,10
6,6,TW_6662597 !,NaN,"The Fruit, a company that sells fruits from al...",2019/12/31 GMT+8 15:00,1
7,7,TW_3352571 !,NaN,"The Fruit, a company that sells fruits from al...",2019/12/27 GMT+8 18:00,3
8,8,US_7683478 !,NaN,"The Fruit, a company that sells fruits from al...",2019/12/31 GMT+8 18:00,17
9,9,US_4523771 !,NaN,"The Fruit, a company that sells fruits from al...",2019/12/30 GMT+8 18:00,51

In [42]:
df.shape

(10, 6)

In [43]:
# check DataFrame
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 6 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Unnamed: 0           10 non-null     int64
 1   Sales_ID             10 non-null     object
 2   Sales_Branch         0 non-null      float64
 3   Product_Description  10 non-null     object
 4   Recent_Sales_Date    10 non-null     object
 5   Customer_Count       10 non-null     int64
dtypes: float64(1), int64(2), object(3)
memory usage: 608.0+ bytes

In [44]:
# lookup
df['Sales_ID'][0]

'AU_1382578        !'

In [45]:
df['Product_Description'][0]

'The Fruit, a company that sells fruits from all over the world, has branches in Australia, the United Kingdom, the United States, and Taiwan. Product: Apple Mango Banana Watermelon Orange Blueberry Banana Watermelon Kiwifruit'

In [46]:
df['Product_Description'][1]

'The Fruit, a company that sells fruits from all over the world, has branches in Australia, the United Kingdom, the United States, and Taiwan. Product: Orange Pear Mango Papaya Peach Persimmon Lychee Guava'

In [47]:
df['Recent_Sales_Date'][0]

'2019/12/31 GMT+8 18:00'

## What can I observe in this dataset?

1. Remove first column and reset index
2. Sales_ID: There is a redundant space and random exclamation mark in each entry
3. Sales_Branch: There is no entry in this column - missing data?

    Is it possible the Sales_Branch information shifted to Sales_ID?
    

4. Product_Descirption: Repetitive and unnecessary words, the descirption also included a list of product
5. Could add "Product" column to list the products - categorical data
6. Recent_Sales_Date: it contains both date and time, can separate them to make it looks clearer

### Step1: Drop the unwanted column

In [61]:
df2 = df.drop(columns=['Unnamed: 0'])
df2

,Sales_ID,Sales_Branch,Product_Description,Recent_Sales_Date,Customer_Count
0,AU_1382578 !,NaN,"The Fruit, a company that sells fruits from al...",2019/12/31 GMT+8 18:00,10
1,TW_8312566 !,NaN,"The Fruit, a company that sells fruits from al...",2019/12/31 GMT+8 18:00,27
2,US_2289987 !,NaN,"The Fruit, a company that sells fruits from al...",2019/12/29 GMT+8 18:00,12
3,UK_1382574 !,NaN,"The Fruit, a company that sells fruits from al...",2019/12/15 GMT+8 05:00,1
4,TW_1382578 !,NaN,"The Fruit, a company that sells fruits from al...",2019/12/29 GMT+8 05:00,5
5,AU_1335358 !,NaN,"The Fruit, a company that sells fruits from al...",2019/12/31 GMT+8 05:00,10
6,TW_6662597 !,NaN,"The Fruit, a company that sells fruits from al...",2019/12/31 GMT+8 15:00,1
7,TW_3352571 !,NaN,"The Fruit, a company that sells fruits from al...",2019/12/27 GMT+8 18:00,3
8,US_7683478 !,NaN,"The Fruit, a company that sells fruits from al...",2019/12/31 GMT+8 18:00,17
9,US_4523771 !,NaN,"The Fruit, a company that sells fruits from al...",2019/12/30 GMT+8 18:00,51

### Step2: Slice and remove " " and "!" in Sales_ID

In [ ]:
# This can be done using Pandas rstrip()